* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	word-break: keep-all;
	color: black;
}

header {
	position: fixed;
	margin: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	letter-spacing: 5px;
	font-weight: normal;
}

p,
h2 {
	font-size: 20px;
}

p {
	position: fixed;
	top: 0px;
	right: 0px;
	margin: 30px;
	transition: transform .6s;
	letter-spacing: 3px;
}

p:hover {
	transform: scale(1.05);
	text-decoration: underline;
	text-underline-offset: 5px;
}


article {
	display: flex;
}

section {
	width: calc(100vw / 6);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}


h2 {
	writing-mode: vertical-rl;
	letter-spacing: 5px;
	font-weight: normal;
}


.c1 {
	background-color: indianred;
}
.d1:hover {
	color: crimson;
}

.c2 {
	background-color: lightsalmon;
}
.d2:hover {
	color: darkorange;
}

.c3 {
	background-color: palegoldenrod;
}
.d3:hover {
	color: #FFB900;
}

.c4 {
	background-color: darkseagreen;
}
.d4:hover {
	color: seagreen;
}

.c5 {
	background-color: lightsteelblue;
}
.d5:hover {
	color: steelblue;
}

.c6 {
	background-color: pink;
}
.d6:hover {
	color: #FF9CBB;
}

.c1:hover,
.c2:hover,
.c3:hover,
.c4:hover,
.c5:hover,
.c6:hover {
	transition: all 1.2s;
	background-color: white;
}


.d0 {
	position: fixed;
	bottom: 25px;
	left: 25px;
}

.back {
	font-size: 18px;
	width: 46px;
	height: 22px;
	border-radius: 100px;
	border: 1.5px solid black;
	background: none;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 2px;
}


@media screen and (max-width: 920px) {
	
	h1 {
		font-size: 24px;
		writing-mode: vertical-rl;
	}

	p,
	h2 {
		font-size: 20px;
	}

	p {
		writing-mode: vertical-rl;
	}

	h2 {
		writing-mode: horizontal-tb;
		letter-spacing: 3px;
	}

	ul {
		margin-left: 10vw;
	}

	li {
	width: 25vw;
}

	article {
		display: block;
	}

	section {
		height: calc(100vh / 6);
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media screen and (max-width: 500px) {
	p,
	h2 {
		font-size: 15px;
	}

	h1 {
		font-size: 20px;
	}
	
	.back {
		font-size: 12px;
		width: 33px;
		height: 16px;
	}
}