* {
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-decoration: none;
	word-break: keep-all;
	color: black;
}

.bg {
	background: white;
}

.yc {
	top: 0px;
	width: 150px;
	margin: 40px;
}

p {
	color: gray;
	text-align: center;
	margin-top: 250px;
}

.d3 {
	position: fixed;
	bottom: 25px;
	left: 25px;
}

.back {
	font-size: 18px;
	width: 46px;
	height: 22px;
	border-radius: 5px;
	border: 1.5px solid black;
	background: white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 2px;
}

.back:hover {
	border: 1.5px solid #CC33CC;
	color: #CC33CC;
}


@media screen and (max-width: 900px) {
	.yc {
		width: 115px;
		position: static;
		margin: 25px;
	}

	.d3 {
		bottom: 33px;
		left: 33px;
	}

	.back {
		font-size: 12px;
		width: 33px;
		height: 16px;
	}