* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	word-break: keep-all;
	color: black;
}



header {
	margin-bottom: 50px;
	text-align: right;
}


h1 {
	color: darkorange;
	letter-spacing: 5px;
	position: fixed;
	right: 0px;
	margin-right: 42px;
}

nav {
	text-align: right;
	margin: 25px;
	margin-right: 50px;
	position: fixed;
	right: 0px;
	top: 100px;
	font-size: 17px;
}

li {
	margin-top: 20px;
}

.d1 {
	text-decoration: underline white;
	text-underline-offset: 5px;
	letter-spacing: 2px;
}

.d1:hover {
	transition: all 0.3s;
	text-decoration: underline;
	text-underline-offset: 5px;
	color: darkorange;
}

h2 {
	color: darkorange;
	margin-left: 50px;
	margin-top: 50px;
	letter-spacing: 3px;
}

.a1{
	margin-top: 0px;

}

.ae {
	margin-bottom: 80px;
}

section {
	margin-left: 50px;
}

img {
	width: 20vw;
	margin-top: 20px;
	border-radius: 10px;
}

.img2 {
	margin-left: 20px;
}

p {
	margin-top: 20px;
	width: 65vw;
	line-height: 35px;
}

.d2 {
	position: fixed;
	bottom: 25px;
	right: 25px;
}

.d3 {
	position: fixed;
	bottom: 25px;
	left: 25px;
}

.top,
.back {
	font-size: 18px;
	width: 46px;
	height: 22px;
	border-radius: 100px;
	border: 1.5px solid black;
	background: none;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 2px;
}

.top:hover,
.back:hover {
	border: 1.5px solid darkorange;
	color: darkorange;
	transition: all 0.3s;
}



@media screen and (max-width: 720px) {
	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 20px;
	}

	nav {
		font-size: 15px;
	}

	p {
		font-size: 14px;
	}

}


@media screen and (max-width: 500px) {
	h1 {
		font-size: 22px;

	}

	img {
		width: 22vw;
	}

	p {
		width: 60vw;
		line-height: 32px;
	}

	header {
		margin-bottom: 50px;
	}


	h1 {
		margin-right: 22px;
	}

	.top,
	.back {
		font-size: 12px;
		width: 33px;
		height: 16px;
	}

	nav {
		margin-right: 30px;
		margin-top: 10px;
	}

	h2 {
		margin-left: 30px;
	}

	section {
		margin-left: 30px;
	}

}