* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	word-break: keep-all;
	color: black;
}

h1 {
	position: fixed;
	color: darkorange;
	letter-spacing: 5px;
	margin: 25px;
	margin-left: 50px;
	font-weight: normal;
}

nav {
	position: fixed;
	margin: 25px;
	font-size: 17px;
	top: 5px;
	right: 25px;
	margin-left: 50px;
	font-size: 22px;
}

ul {
	display: flex;
}

li {
	margin-top: 20px;
}

.l2 {
	margin-left: 25px;
}

.d01 {
	color: darkorange;
	text-decoration: underline;
	text-decoration-color: darkorange;
	text-underline-offset: 5px;
	letter-spacing: 2px;
}

.d02 {
	text-decoration: underline white;
	text-underline-offset: 5px;
	letter-spacing: 2px;
}

.d01:hover,
.d02:hover {
	transition: all 0.3s;
	text-decoration: underline;
	text-underline-offset: 5px;
	color: darkorange;
}

.s1 {
	margin-top: px;
}

img {
	width: 20vw;
	object-fit : contain;
	margin: 100px;
	margin-top: 150px;
}

img {
	overflow: hidden;
	transition: transform .6s;
}

img:hover {
	transform: scale(1.1);
	overflow: hidden;
	cursor: pointer;
}

.imgg {
	width: 5vw;
}

.imgggg {
	width: 16vw;
}

.imggggg {
	width: 8vw;
}

.imgggggg {
	width: 11vw;
}

.imggggggg {
	width: 30vw;
}

.bexel {
	width: 7.5vw;
}

.i1 {
	display: flex;
	align-items: center;
	justify-content: center;
}

article {
	margin: 20px;
	display: flex;
}

section {
	margin-top: 80px;
}

.d2 {
	position: fixed;
	bottom: 25px;
	right: 25px;
}

.d3 {
	position: fixed;
	bottom: 25px;
	left: 25px;
}

.top,
.back {
	font-size: 18px;
	width: 46px;
	height: 22px;
	border-radius: 100px;
	border: 1.5px solid black;
	background: none;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 2px;
}

.top:hover,
.back:hover {
	border: 1.5px solid darkorange;
	color: darkorange;
	transition: all 0.3s;
}