* {
	padding: 0px;
	margin: px;
	list-style: none;
	text-decoration: none;
	word-break: keep-all;
	color: black;
}

.bg {
	background: white;
}

.yc {
	top: 0px;
	width: 150px;
	margin: 40px;
	position: fixed;
}

h1 {
	text-align: center;
	margin-top: 80px;
	margin-left: 270px;
}

nav {
	margin-top: 60px;
	margin-left: 40px;
	position: fixed;
}
.d1 {
	margin: 20px;
	font-size: 20px;
	width: 80px;
	height: 35px;
	border-radius: 100px;
	border: 1.5px solid white;
	background: white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.d1:hover {	
	border: 1.5px solid #1FDA11;
	color: #1FDA11;
}

img {
	width: 40vw;
}

h2 {
	padding: 20px;
	writing-mode: sideways-rl;
}

p {
	padding: 20px;
	line-height: 30px;
}

article {
	margin-left: 270px;
	margin-top: 120px;
}

section {
	display: flex;
	padding: 40px;
	margin: 30px;
}

footer {
	margin-left: 270px;
	text-align: center;
	font-size: 12px;
}



@media screen and (max-width: 900px) {
	.yc {
		width: 25vw;
		position: static;
	}
	h1 {
		text-align: center;
		margin-top: 0px;
		margin-left: 75px;
	}
	nav {
		margin-top: 80px;
		margin-left: 5px;
	}
	.d1 {
		margin: 10px;
		font-size: 10px;
		width: 40px;
		height: 17px;
	}
	article {
		margin: 0px;
		padding: 0px;
		margin-left: 75px;
		margin-top: 120px;
	}
	section {
		display: block;
		padding: 0px;
		margin-left: 75px;
	}
	img {
		width: 60vw;
		margin-left: auto;
		margin-right: auto;
	}
	footer {
		margin-left: 75px;
	}
}