* {
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-decoration: none;
	word-break: keep-all;
	color: black;
}

.bg {
	background: white;
}

header {
	display: flex;
}

.yc {
	top: 0px;
	width: 150px;
	margin: 40px;
	border-radius: 0px;
}

h1 {
	margin-left: 35vw;
	text-align: center;
	display: flex;
	align-items: center;
	font-size: 23px;
}

h2 {
	color: gray;
	font-size: 23px;
}

nav {
	margin-top: 20px;
	margin-left: 40px;
}

ul {
	margin-left: 20px;
	position: fixed;
}

.d1 {
	margin: 15px;
	font-size: 18px;
	width: 80px;
	height: 35px;
	border-radius: 100px;
	border: 1.5px solid white;
	background: none;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.d1:hover {	
	border: 1.5px solid #1FDA11;
	color: #1FDA11;
	transition: all 0.3s;
}

img {
	border-radius: 50vw;
	margin-bottom: 13px;
	width: 30vw;
	object-fit : contain;
}

h2 {
	padding: 20px;
	padding-top: 7px;
}

p {
	padding: 20px;
	padding-top: 0px;
	line-height: 35px;
}

article {
	margin-left: 270px;
	margin-top: 120px;
}

section {
	display: flex;
	padding: 40px;
	margin: 30px;
}

.d2 {
	position: fixed;
	bottom: 25px;
	right: 25px;
}

.d3 {
	position: fixed;
	bottom: 25px;
	left: 25px;
}

.top,
.back {
	font-size: 18px;
	width: 46px;
	height: 22px;
	border-radius: 100px;
	border: 1.5px solid black;
	background: none;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 2px;
}

.top:hover,
.back:hover {
	border: 1.5px solid #1FDA11;
	color: #1FDA11;
	transition: all 0.3s;
}

footer {
	margin-top: 200px;
	margin-left: 270px;
	text-align: center;
}

footer > p {
	color: gray;
	font-size: 12px;
}


@media screen and (max-width: 1400px) {
	.yc {
		width: 115px;
		position: static;
		margin: 25px;
	}

	h1,
	h2 {
		font-size: 20px;
	}

	h1 {
		margin-left: 56vw;
	}

	nav {
		margin-top: 80px;
		margin-left: 20px;
	}

	.d1 {
		margin: 10px;
		font-size: 15px;
		width: 50px;
		height: 20px;
	}

	article {
		margin: 0px;
		padding: 0px;
		margin-left: 65px;	
	}

	section {
		display: block;
		padding: 15px;
		margin: 80px;
	}

	img {
		width: 60vw;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	p {
		line-height: 30px;
		margin-left: 80px;
		margin-right: 80px;
	}

	h2 {
		margin-left: 80px;
		margin-right: 80px;
	}

	.d2 {
		bottom: 60px;
		left: 33px;
	}

	.d3 {
		bottom: 33px;
		left: 33px;
	}

	.top,
	.back {
		font-size: 12px;
		width: 33px;
		height: 16px;
	}

	footer {
		margin-top: 120px;
		margin-left: 65px;
	}
}

@media screen and (max-width: 920px) {
	section {
		margin: 45px;
	}

	h2 {
		margin-left: 40px;
		margin-right: 40px;
	}

	img {
		width: 68vw;
	}

	p {
		font-size: 15px;
		line-height: 30px;
		margin-left: 40px;
		margin-right: 40px;
	}
}

@media screen and (max-width: 650px) {
	h1,
	h2 {
		font-size: 18px;
	}

	h1 {
		margin-left: 36vw;
	}

	nav {
		margin-left: 0px;
	}


	.d1 {
		margin: 10px;
		font-size: 12px;
		width: 40px;
		height: 17px;
	}

	p {
		font-size: 14px;
		line-height: 30px;
		margin: 0px;
	}

	h2 {
		margin: 0px;
	}

	section {
		margin: 30px;
	}

	footer {
		margin-top: 100px;
	}

}